.navbar {
  height: 14svh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-heroBG);
  color: white;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
    transform: scale(1.3);
  color:var(--color-mainBG);
  
}
